@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');
@import './variables.css';
@import './common.css';
@import './forms.css';

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color: #f5f5f5;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}